@font-face {
    font-family: 'Ukrainian Diaria';
    src: url('UkrainianDiaria-MediumItalic.woff2') format('woff2'),
        url('UkrainianDiaria-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

