@font-face {
    font-family: 'Ukrainian Diaria';
    src: url('UkrainianDiaria-Medium.woff2') format('woff2'),
        url('UkrainianDiaria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

